fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
lightgbm
shap
google-generativeai
google-genai
google-auth
bcrypt
python-multipart
websockets
joblib
python-jose[cryptography]
passlib[bcrypt]
matplotlib